.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-family: $font-display;
  letter-spacing: 1.7px;
  width: 175px;
  height: 65px;
  padding: 5px 10px;

  @media screen and (max-width: 500px) {
    width: 120px;
    height: 50px;
    font-size: 3rem;
  }
}

.btn-light {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 75px;
  border: 2px solid $color-primary;
  border-radius: 10px;
  font-weight: 900;
  font-size: 1.75rem;
  transition: 0.3s;

  @media screen and (max-width: 500px) {
    width: 120px;
    height: 50px;
    font-size: 1.5rem;
  }
}

.btn-light:hover {
  color: $color-white;
  background-color: $color-primary;
}

.btn-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 75px;
  background-color: $color-primary;
  border-radius: 10px;
  font-weight: 900;
  font-size: 1.75rem;
  color: $color-white;
  transition: 0.3s;

  @media screen and (max-width: 500px) {
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
  }
}

.btn-dark:hover {
  color: $color-primary;
  background-color: $color-white;
  border: 2px solid $color-primary;
}
